ul.curStatus, ul.curStatus li
{
	list-style: none;
	display: inline-block;
	padding: 0 !important;
	-webkit-margin-before: 0 !important;
	-webkit-margin-after: 0 !important;
	-webkit-margin-start: 0px !important;
	-webkit-margin-end: 0px !important;
	-webkit-padding-start: 0px !important;
}
ul.curStatus li ul.status
{
	display: none;
	position: absolute;
	z-index: 50;
	background-color: #2d2d2d;
	list-style: none;
	padding: 8px;
	left: 6px;
	border: solid 2px #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	font-size: .8em;
}
ul.curStatus li ul.status li
{
	padding: 0 !important;
	display: block !important;
}
ul.curStatus li ul.status li a
{
	color: #fff;
}
ul.curStatus li:hover ul.status
{
	display: block;
}
#edit-userstatuscommenttext
{
	cursor: text;
	font-size: 1em;
	color: #fff;
	padding: 3px;
	display: inline-block;
	min-width: 150px;
	min-height: 15px;
	border: solid 1px #ccc;
	background: transparent;
}
#edit-userstatusstatus
{
	position: absolute;
	height: 0px;
	width: 0px;
	border: solid 0px !important;
	color: #ddd7cd !important;
	background-color: #ddd7cd !important;
}
#block-user_status-user_status_update
{
	margin-bottom: 0 !important;
}
#block-user_status-user_status_update input
{
	border: solid 1px #2d2d2d;
	color: #2d2d2d;
	background-color: #e6e2da;
}
#block-user_status-user_status_update form, #block-user_status-user_status_update ul
{
	margin: 0 !important;
}
#block-user_status-user_status_all_users
{
	font-size: .8em;
	line-height: .9em;
}
#block-user_status-user_status_all_users img
{
	vertical-align: baseline;
}
#block-user_status-user_status_update ul.curStatus li
{
	list-style: none !important;
	list-style-image: none !important;
	background-image: none !important;
}
#block-user_status-user_status_all_users p
{
	margin: 0 !important;
	padding-left: 3px !important;
}